* {
	margin:0px;
}
html {
	height:100%;
	width: 100%;
}

body {
	font-family: Arial;
	color: #6a6a6a;
	background-color: #fafafa;
	height: 100%;
	width: 100%;
}

a {
  text-decoration: none;
}

h2, h3, h4 {
	color: #000;
	font-weight: 700;
}

#page_wrapper {
	background: #fafafa;
}

#header {
	background: Black;
	background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(31,31,31,1) 0%, rgba(222,222,222,1) 100%);
	width: 100%;
	height: 900px;
	display: flex;
	color: #fff;
	justify-content:center;

}
#header_left {
	width: 30%;
	padding-top:20%;
	padding-left: 25px;
   padding-right: 35px;
	margin: 5%;
}

#header_left p {
	font-size: 18px;
	line-height: 26px;
   letter-spacing: .05em;
	margin-bottom: 40px;
}
#header_left #p1 {
	margin-top: 10px;
}

#header_left h2 {
	color: #fff;
	font-size: 50px;
	line-height: 50px;
	font-weight: 700;
} 

#header_right {
	width: 30%;
	margin-top:8%;
	overflow:hidden;
}
#header_right img{
	display:block;
	width:100%;
}

#banners {
   padding: 40px 0;
   background: #4fd2c2;
	display: flex;
   justify-content: center;

}
#banners #banners_box {
	width:70%;
	display:flex;
	flex-wrap:wrap;
}
#banners #banners_box .block {
	margin:auto;
}

#main {
	width:100%;
}

#main #main_part1 {
	display: flex;
	flex-direction:column;
	margin:100px auto;
	text-align:center;
	width:45%;
}

#main #main_part1 h2 {
	 font-size: 45px;
    line-height: 60px;
	 margin:10px;
}
#main #main_part1 p {
    font-size: 18px;
    line-height: 30px;
}

#main_part2 {
	display:flex;
   justify-content: center;
	flex-wrap:wrap;
}

#main_part2 .item {
	text-align: center;
	background-color: #FFFFFF;
	border-radius: 4px;
	padding: 40px 10px;
	height: 230px;
	min-width: 240px;
	width: 240px;
	margin: 0px 20px;
}
#main_part2 .item span {
	width: 80px;
	height: 80px;
	display: block;
	text-align: center;
	margin: 0 auto;
   border: 2px solid #4fd2d2;
	border-radius: 50%;
}
#main_part2 .item h3 {

	margin: 20px 10px;

}
#main_part2 .item p {
    color: #919191;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 24px;
}

#main_part3 {
	display:flex;
   justify-content: center;
	margin-top: 70px;
	margin-bottom: 110px; 
}
#main #main_part4 {
	background-color: #FFFFFF;
	padding-top:50px;
	padding-bottom:50px;
}
#main #main_part4 #main_part4_container{

	display: flex;
	flex-direction: column;
	margin:100px auto;
	text-align: center;
	width: 45%;
}

#main #main_part4 h2 {
	 font-size: 45px;
    line-height: 60px;
	 margin:10px;
}
#main #main_part4 p {
    font-size: 18px;
    line-height: 30px;
}

#main_part4_content {
	margin: 0 auto;
}

#main_part4_content {
	display:flex;
	width:80%;
	justify-content:center;
}

.part4_item {
    text-align: center;
	 font-size: 12px;
	 width:300px;
	 height: 200px;
}
.part4_item h4 {
	font-size: 12px;
   letter-spacing: 2px;
   font-family: Arial, sans-serif;
   text-transform: uppercase;
	margin-bottom:10px;
}
#main #main_part4 p.part4_item_text {
	font-size:16px;
	margin-bottom: 24px;
	font-family: Arial, sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   color: #6a6a6a;	
}

#main_part4_content_first, #main_part4_content_third {
	width:40%;
	margin-top: 40px;	
	margin-bottom: 20px;	
}

#main_part4_content_second {
	width:40%;
}
#main_part4_content_second p img{
	width:100%;
}

#main_part5 {
	 background: #4fd2c2;
    color: #fff;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
	 height:30%;
}	 
#main_part5_container {
	display: flex;
	padding:100px 50px;
}	 
#main_part5_container img{
	border-radius: 50%;
	width:150px;
	margin:25px;
}
#main_part5_container_right {
	font-size: xx-large;
	line-height: 45px;
}
#main_part5_container_right .author{
	font-size: 12px;
	letter-spacing: 4px;
	text-transform: uppercase;
	font-weight: bold;
}

#main_part5_container_right .author span{
	color:#000000;
}

#main_part6 {
	background: rgb(36,36,37);
	background: linear-gradient(90deg, rgba(36,36,37,1) 4%, rgba(38,37,45,1) 18%, rgba(42,42,48,1) 25%, rgba(58,58,80,1) 41%, rgba(69,72,88,1) 47%, rgba(2,0,36,1) 92%, rgba(81,79,96,1) 100%, rgba(149,146,146,0.42620798319327735) 100%, rgba(37,37,37,0.9248074229691877) 100%);
	padding:100px;
}
 
#main_part6_container {
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#main_part6_container_left, #main_part6_container_center, #main_part6_container_right {
	font-size: large;
	letter-spacing: 4px;
	text-transform: uppercase;
	color:#eeeeee;
}

#main_part7 {
	padding:10% 5% 5% 5%;
}
#main_part7_row {
	text-align: center;
}

#main_part7_row_first {
	line-height: 60px;
	font-size: xxx-large;
	color:#000000;
	font-weight: bold;
	margin:10px;
}
#main_part7_row_second {
	font-size: 18px;
   line-height: 30px;
	width:40%;
	margin:auto;
}

#main_part7_container {
	display:flex;
	width:80%;
	margin:50px auto 30px auto;
	justify-content: space-between;
	flex-wrap: wrap;
}
	 
	 
#main_part7_container .main_part7_container_item {
	background-color: #ffffff;
	width:205px;
	height:315px;
}
#main_part7_container .main_part7_container_item img{
	width:100%;
}

#main_part7_container .main_part7_container_item .main_part7_container_item_name {
	font-size: 12px;
   letter-spacing: 2px;
	color:#0e0e0e;
   text-transform: uppercase;
	font-weight: bolder;
	text-align: center;
	margin: 40px 5px 20px 5px; 
}

#main_part7_container .main_part7_container_item .main_part7_container_item_text {
	text-align: center;
	font-weight: 400;
	font-size: 16px;
}
	 
#main_part7_button {
	text-align:center;
	margin-top:80px;
}	 
	 
.btn {
	border-radius: 30px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-right: 10px;
	background-color: #4fd2c2;
	border-color: #3bcdbb;
	color: #ffffff;
	font-size: 11px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin-bottom: 20px;

}
.btn:hover {
	color: #ffffff;
	background-color: #30adbf;
	border-color: #30a182;
}